.product-baskets {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 15px auto;
  font-weight: bold;
}

.product-baskets-list {
  padding: 25px;
  border-radius: 5px;
  background-color: aliceblue;
}

.product-baskets-item {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.updateBtn, .deleteBtn {
  cursor: pointer;
}
