.burger {
  color: white;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 1.5px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;
}

.burger.open div:nth-child(1) {
  background-color: crimson;
  transform: rotate(59deg) translateX(10px);
}

.burger.open div:nth-child(2) {
  background-color: crimson;
  transform: translateY(12px) translateX(-1px);
}

.burger.open div:nth-child(3) {
  background-color: crimson;
  transform: rotate(-59deg) translateY(-9px);
}
