.modal-navbar-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  visibility: hidden;
}

.navbar-left {
  position: absolute;
  width: 300px;
  top: 0;
  bottom: 0;
  left: -300px;
  z-index: 1000;
  padding-top: 40px;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.96);
  transition: all ease-in-out 0.3s;
}

.navbar-left.open {
  left: 0;
  z-index: 1000;
}

.modal-navbar-left.open  {
  opacity: 1;
  visibility: visible;
}

.navbar-left ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-left ul .fa-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  margin-right: 35px;
}

.navbar-left .li-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
}

.navbar-left a {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

.navbar-left .active {
  color: lightblue;
}
