.product-details {
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.product-details-img {
  padding: 25px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.product-details-img img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.basket {
  border-radius: 10px;
}

.basket form {
  display: flex;
  gap: 10px;
}

.product-details-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 25px;
  background-color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  margin-bottom: 15px;
}
